
<div class="sidebar">
    <div class="menu list-group list-group-flush">
        <AuthorizeView>
            <Authorized>
                <NavLink class="list-group-item list-group-item-action" href="/" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
                <NavLink class="list-group-item list-group-item-action" href="/catalog">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Courses Catalog
                </NavLink>
                <NavLink class="list-group-item list-group-item-action" href="/categoryoverview">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Categories
                </NavLink>
                <NavLink class="list-group-item list-group-item-action" href="/orderoverview">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> My Orders
                </NavLink>
            </Authorized>
        </AuthorizeView>
    </div>
</div>

