@page "/categoryoverview"

<h3>Courses Category</h3>

<br />



@if (Categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Category name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Categories)
            {
                <tr>
                    <td>@cat.Name </td>

                </tr>
            }
        </tbody>
    </table>
}

